

.card {

    text-align: center;
    width: 20%;
    background: #89dbd5;
    float: left;

    height: 20%;
    margin: 0px;
    bottom-margin:-.5px;
    right-margin:-1px;



    border-radius: 0px;
    border: 0px;
    position: relative;
    /*box-shadow: 0 3px 6px #999, 0 3px 6px #999;*/

}

.card > .img-container {
    overflow: hidden;
    text-align: center;
}
.card > .img-container > img {

    height: 100%;
    width: 100%;
}

#image {
    -webkit-transition: all 0.5s ease-in-out;
}

